@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/menu.css" runat="server"/>
<div class='dashboard'>
    <div class="dashboard-nav">
        <nav class="dashboard-nav-list">
            <h1 style="text-align:center; color:white;">Театр</h1>
            <br />
            <form >              
                <a asp-controller="Performance" asp-action="Index"
                   class="dashboard-nav-item" asp-route-role="@((int)Roles.PerformanceDirector)">
                    Спектакли
                </a>                
                <a asp-controller="Author" asp-action="Index" class="dashboard-nav-item" 
                   asp-route-role="@((int)Roles.PerformanceDirector)">
                    Авторы
                </a>
                <a asp-controller="Stage" asp-action="Index" class="dashboard-nav-item" 
                   asp-route-role="@((int)Roles.PerformanceDirector)">
                    Постановки
                </a>
            </form>

            <div>
                <a asp-action="Index" class="dashboard-nav-item"> Выйти </a>
            </div>
        </nav>
    </div>
    <div class='dashboard-app'>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>Добро пожаловать</h1>
                    </div>
                    <div class='card-body'>
                        <p>Вы зашли в систему в качестве режиссера</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>